*{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(90deg,#5fa4ff,#143d83);
    font-family:'Times New Roman', Times, serif;
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 90vh;
    width: 190vh;
    overflow:hidden;
    margin:0;
}
.search{
    position:relative;
    height: 50px;
}
.search, .input{
    border:0;
    position: absolute;
    width:50px;
    height:50px;
    transition: transform 0.3s ease-in;
    padding: 15px;
    font-size: 18px;    
}
.btn{
    position: absolute;
    font-size: 24px;
    height: 50px;
    width: 50px;  
    transition: transform 0.3s ease;
    cursor: pointer;
    border: 0;    
}
.btn:focus, .input:focus{
    outline: none;
}
.search.active .input{
    width: 200px;
}
.search.active .btn{
    transform: translateX(200px);
}